/* Web Fonts */

@font-face {}

/* Base Element Styles */

body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Teko', sans-serif;
    letter-spacing: .05em;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: .1em;
}

.portfolio-paragraph {
    padding-top: 10px;

}

.portfolio {
    background-color: white;
    border: white 1px solid;
    border-radius: 3px;
    padding: 20px;
}

#portfolio {
    margin: 20px;
    padding-top: 40px 0 40px 0;
}

img {
    max-width: 100%;
}

/* Header Container */

a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
a:visited{
    color: darkslategray;
}

.main-nav ul {
    padding: 10px;
}

/* Skills Container */

.skills li {
    background-color:  lightgray;
    display: block;
    margin: 3px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 2px 2px 2px grey; 
}

.skills ul {
    padding: 5px;
}

/* Experience Container */

.beijing_smash {
    max-width: 40%;
    max-height: 40%;
    margin-top: 1.5em;
}

.bytedance, .vipkid {
    max-width: 70%;
    max-height: 70%;
}

/* Foooter Container */

.main-footer {
    overflow: hidden;
    border-top: 1px solid lightgray;
}

.main-footer li.links {
    display: none;
    text-decoration: none;
}

.main-footer li a {
    margin: .2em .5em;
    list-style-type: none;

}
.main-footer ul {
    float: right;
}

#footer-student-name {
    float: left;
    margin: 1em;
}

#footer-back-to-top {
    float: right;
    margin: 1em;
}

/* Viewport layouts for 768px and 1024px */

/* Floats: overflow: hidden ! */
@media (min-width: 768px) {

  /* Header */

    .main-nav li {
        display: inline-block;
        margin: 0px 10px;
        font-weight: bold;
    }

    .header-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 45%;
        float: right;
        margin: 1em;
    }

    .profile-intro {
        width: 45%;
        display: inline-block;
        font-size: 1.3em;
        text-align: left;
        margin-left: 10px;
    }

    .header-container {
        overflow: hidden;
    }

    /* Portfolio */

    /* Can use border-box and 50% instead of 45% */
   
    .portfolio {
       overflow: hidden;
   }

    .marketing-page {
        width: 49%;
        float: left;
    }

    .search-page {
        width: 49%;
        float: right;
    }

    .travel-app {
        width: 49%;
        float: left;
    }

    .map-of-favorite-spots {
        width: 49%;
        float: right;
    }

    .photo-gallery {
        width: 49%;
        float: left;
    }
    
    .calculator {
        width: 49%;
        float: right;
    }

    /* Skills */
    
    .skills {
        overflow: hidden;
        margin: 30px 15px;
}

    .col_one {
        width: 50%;
        float: left;
}

    .col_two {
        width: 50%;
        float: right;
}

    /* Experience */

    .experience {
        margin: 30px 15px;
        overflow: hidden;
    }
    /* Margins ot working */
    /* Rethink Logos */

    .beijing_smash {
        max-width: 22%;
        max-height: 23%;
        float: left;
        margin-left: 6%;
    }
    
    .bytedance {
        max-width: 32%;
        max-height: 33%;
        float: left;
        margin-top: 3%;
    }

    .vipkid {
        max-width: 32%;
        max-height: 33%;
        float: right;

    }

    /* Contact */

    .contact {
        margin: 50px 15px;
    }

    .contact p {
        width: 60%;
        margin: 15px auto;
        font-size: 1.3em;
    }

    .contact-paragraph-one {
        margin: 20px auto;
    }  /* Check margins strikethrough on DEV TOOLS */
   
    /* Fix margin/padding issue (collapsed headers?) */
    /* Not working because p are all inline elements */

    /* Footer */   

    #footer-student-name {
        display: inline-block;
        font-weight: bold;
    }

    #footer-back-to-top {
       display: none;
    }

    .main-footer li.links {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .main-footer li.links:visited {
        color: darkslategray;
    }

@media (min-width: 1024px) {

    /* Header */

    #student-name {
        float: left;
        display: inline-block;
        margin-left: 40px;
    }

    .main-nav ul {
        float: right;
        display: inline-block;
        margin-right: 10px;
    }

    /* Portfolio */

    .portfolio {
       overflow: hidden;
       margin: 10px auto;
       box-sizing: border-box;
   }

    .marketing-page {
        width: 33%;
        float: left;
        margin-right: .5%;
    }

    .search-page {
        width: 33%;
        float: left;
        margin-right: .5%;
    }

    .travel-app {
        width: 33%;
        float: left;
    }

    .map-of-favorite-spots {
        width: 33%;
        float: left;
        margin-right: .5%;
    }

    .photo-gallery {
        width: 33%;
        float: left;
        margin-right: .5%;
    }
    
    .calculator {
        width: 33%;
        float: left;
    }

    /* Skills */
    
    .skills {
        overflow: hidden;
        margin: 30px 15px;
}

    .col_one {
        width: 50%;
        float: left;
}

    .col_two {
        width: 50%;
        float: right;
}

}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
 }