/* Web Fonts */

@font-face {}

/* Base Element Styles */

body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: .1em;
}

.portfolio {
    background-color: white;
    border-radius: 3px;
}
/* Fix display (padding/margins) in 320px */
/* Give class or id to 'calculator' p element? */
/* p {
    padding: 2em, 3em; 
    margin-bottom: 10px;
} */

img {
    max-width: 100%;
}

/* Header Container */

a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}


a:visited{
    color: darkslategray;

}

.main-nav ul {
    padding: 10px;

}

/* Skills Container */

.skills li {
    background-color:  lightgray;
    display: block;
    margin: 3px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 2px 2px 2px grey; 
}

.skills ul {
    padding: 5px;
}

/* Experience Container */

.beijing_smash {
    max-width: 40%;
    max-height: 40%;
    margin-top: 1.5em;
}

.bytedance, .vipkid {
    max-width: 70%;
    max-height: 70%;
}

/* Foooter Container */

.main-footer {
    overflow: hidden;
}

.main-footer li {
    display: inline-block;
    text-decoration: none;
}

.main-footer li a {
    margin: .2em .5em;
}
.main-footer ul {
    float: right;
}

/* Get student-name to line up with .main-footer li a */
.student-name {
   
    float: left;
}


@media (min-width: 768px) {

    .col_one {
        width: 50%;
        float: left;
        clear: both;
    }
    .col_two {
        width: 50%;
        float: right;
    }
 
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
    }
}